@charset "UTF-8";
body {
	background: #FFB28A;
	min-width: 930px;
}
/* IDs */
#tableOfContents {
	margin: 0px auto;
	border: thin dashed #000000;
	border-radius: 10px ;
	max-width: 585px;
	min-height: 30px;
	align-self: center;
	
}
#title {
	border-radius: 35px;
	background: radial-gradient(#F6A63A, #FF9A00);
	width: 650px;
	margin: 5px auto;
}
#highContrast {
	color:#02FFFD;
	background-color: #270000;
	border-bottom: 5px #000000 solid;
	text-align: justify;
}
#lowBright {
	color: #000000;
	background-color: #A28364;
	border-bottom: 5px #000000 solid;
	text-align: justify;
}
#links {
	width: 810px;
	margin: 10px auto auto auto;
	height: 50px;
	
}
/* Classes */
.content {
	max-width: 650px;
	margin: auto;
}
.pictures {
	max-width: 930px;
	margin: auto;
}
.colors {
	width: 315px;
	height: 165px;
	display:inline-block;
	border: 2px #000000 solid;
}
.colorExplained {
	text-align: center;
	font-size: 15px;
}
.W3C {
	border: 3px groove #000000;
	display: block;
	width: 200px;
	height:auto;
	margin: auto;
	text-align: center;
}
.W3C:hover {
	background: #FFAA56;
	color: #9D0002;
}
.backToTop {
	float: right;
}
/* Text */
h1 {
	text-transform: capitalize;
	text-align: center;
}
h2 {
	font-family: "Helvetica Neue";
	text-align: center;
	background: radial-gradient(#F6A63A, #FF9A00);
	border-radius: 100px 30px;
	width: 360px;
}
h3 {
	font-family: "Helvetica Neue";
	border-radius: 10px;
	
}
p, h5 {
	font-family: "Gill Sans";
	margin: 0px auto;
	padding: 5px;
	display: inline-block;
}
li {
	display: inline-block;
	font-family: "Gill Sans";
	margin: 0px;
	padding:0px;
}
b:hover {
	color: #FFB28A;
	background-color: #000000;
}
/* Images */
img {
	max-height: 200px;
	float: right;
}
/* Links */
h5:hover {
	font-size: 15px;
	
}
a {
	color: #AC0000;
}
a:hover {
	color: #FF4B4E;
}
